body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('C:\\Users\\Lenovo\\Downloads\\WhatsApp Image 2024-04-05 at 09.14.10 (1).jpeg'); /* Change 'background.jpg' to your image file */
    background-size: cover;
    background-position: center;
    color: #42f6ed;
}

.container {
    width: 100%;
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 600px;
    padding: 40px;
    background-color: rgba(0, 0, 255, 0.5); /* Blue color with 50% opacity */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 300%;
    padding: 10px;
    margin-bottom: 50px;
    border: none;
    border-radius: 50px;
    outline: none;
}

button {
    background-color: #007bff; /* Blue color */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}